<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container pt-5">
  
  <%- include('../partials/header', {pagina: 'Sobre'}); %>

  <main class="jumbotron">
    <h1>Sobre Min</h1>
    <p>Oi sou Rafael Trindade estudante de programação</p>
  </main>

  <%- include('../partials/footer'); %>

</body>

</html>